@page
@using Microsoft.IdentityModel.Tokens
@model BudgetRequests.Pages.Requests.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="create-container">
    <div class="box form-box">
        <header>Create Budget Request</header>
        @if (Model.GlobalError != null)
        {
            <span class="error-text mb-4">@Model.GlobalError</span>
        }
        <form action="" method="post">
            <div class="field input">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control mt-2"/>
                <span class="error-text">@Model.TitleError</span>
            </div>
            <div class="field input">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" type="" class="form-control mt-2"></textarea>
                <span class="error-text">@Model.BodyError</span>
            </div>
            <div class="row">
                <div class="field input col">
                    <label class="control-label">Requester</label>
                    <select asp-for="OrganizationId" asp-items="Model.Organizations" class="form-control mt-2"></select>
                    <span class="error-text">@Model.OrganizationError</span>
                </div>
                <div class="field input col">
                    <label asp-for="DateNeeded" class="control-label"></label>
                    <input asp-for="DateNeeded" class="form-control mt-2"/>
                    <span class="error-text">@Model.DateNeededError</span>
                </div>
            </div>

            <div class="row">
                <div class="field input col">
                    <label asp-for="Purpose" class="control-label"></label>
                </div>
                <div class="field input col">
                    <label asp-for="Amount" class="control-label"></label>
                </div>
                @if (!Model.TemporaryExpenses.IsNullOrEmpty())
                {
                    <div class="col-md-auto">
                        <input type="submit" class="btn1" value="🗙" required style="margin-top: 0; visibility: hidden">
                    </div>
                }
            </div>

            @foreach (var temporaryExpense in Model.TemporaryExpenses)
            {
                <div class="row">
                    <div class="field input col">
                        <input value="@temporaryExpense.Purpose" class="form-control mb-1" readonly/>
                    </div>
                    <div class="field input col">
                        <input value="@temporaryExpense.Amount" class="form-control mb-1" readonly/>
                    </div>
                    @if (!Model.TemporaryExpenses.IsNullOrEmpty())
                    {
                        <div class="col-md-auto">
                            <input type="submit" class="btn1" value="🗙" asp-page-handler="RemoveExpense" asp-route-id="@temporaryExpense.Id" asp-route-creationId="@Model.CreationId" required style="margin-top: 0">
                        </div>
                    }
                </div>
            }

            <div class="row">
                <div class="field input col">
                    <input asp-for="Purpose" class="form-control"/>
                    <span class="error-text">@Model.PurposeError</span>
                </div>
                <div class="field input col">
                    <input asp-for="Amount" class="form-control" type="number" step=".01"/>
                    <span class="error-text">@Model.AmountError</span>
                </div>
                @if (!Model.TemporaryExpenses.IsNullOrEmpty())
                {
                    <div class="col-md-auto">
                        <input type="submit" class="btn1" value="🗙" required style="margin-top: 0; visibility: hidden">
                    </div>
                }
            </div>
            <div class="field">
                <input type="submit" class="btn btn-secondary mt-2" name="submit" value="Add Expense" asp-page-handler="AddExpense" asp-route-creationId="@Model.CreationId" required>
            </div>
            <div class="field">
                <input style="margin-top: 0" type="submit" class="btn btn-primary" name="submit" asp-page-handler="Submit" asp-route-creationId="@Model.CreationId" value="Submit Request" required>
            </div>
            <div class="field">
                <input style="margin-top: 0" type="submit" class="btn btn-primary" name="submit" asp-page-handler="Cancel" value="Cancel" required>
            </div>
        </form>
    </div>
</div>


<script>
    function show(a){
      document.querySelector('.text02').value = a;
    }

    let dropdown = document.querySelector('.dropdown');
    dropdown.onclick = function(){
      dropdown.classList.toggle('active');
    }
</script>