@page
@using BudgetRequests.Models.BudgetRequests
@model BudgetRequests.Pages.Requests.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>

<div>
    <h4>BudgetRequest</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetRequest.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BudgetRequest.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetRequest.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BudgetRequest.Body)
        </dd>
    </dl>
    <h4>Signatories</h4>
    <table class="row">
        @foreach (var signatory in Model.Signatories.ToList())
        {
            <tr>
                @if (signatory is AdminSignatory adminSignatory)
                {
                    <th>
                        @Html.DisplayFor(model => adminSignatory.Role.Position)
                    </th>
                    <td>
                        @Html.DisplayFor(model => adminSignatory.Role.Admin.FullName)
                    </td>
                }
                @if (signatory is OfficerSignatory officerSignatory)
                {
                    <th class="col-sm-2">
                        @Html.DisplayFor(model => officerSignatory.Role.Position)
                    </th>
                    <td class="col-sm-10">
                        @Html.DisplayFor(model => officerSignatory.Role.Officer.FullName)
                    </td>
                }
                <td>
                    <form method="post">
                    @if (signatory.User == Model.User)
                    {
                        if (!signatory.HasSigned)
                        {
                            <input type="submit" value="Sign" class="btn btn-secondary mb-2" asp-page-handler="Sign" asp-route-id="@Model.BudgetRequest.Id"/>
                        }
                        else
                        {
                            <input type="submit" value="Unsign" class="btn btn-secondary mb-2" asp-page-handler="Unsign" asp-route-id="@Model.BudgetRequest.Id"/>
                        }
                    }
                    else
                    {
                        if (signatory.HasSigned)
                        {
                            <text>Signed</text>
                        }
                        else
                        {
                            <text>Unsigned</text>
                        }
                    }
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-page="./Edit">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>*@

<div class="edit-request-container">
    <div class="edit-request-box edit-request-form-box">
        <header>@Model.BudgetRequest.Title</header>
        <form action="" method="post">

            <div class="recent-grid">
                <div class="body">
                    <div class="inputBox">
                        <span>Description</span>
                        <textarea readonly>@Model.BudgetRequest.Body</textarea>
                    </div>
                </div>

                <div class="signatories">
                    <div class="signatoryCard">
                        <div class="cardHeader">
                            <h3>Signatories</h3>
                        </div>

                        <div class="card-body">

                            @foreach (var signatory in Model.Signatories.ToList())
                            {
                                <div class="signatory">
                                    <h4>@signatory.User.FullName</h4>
                                    @if (signatory is AdminSignatory adminSignatory)
                                    {
                                        <small>@adminSignatory.Role.Position</small>
                                    }
                                    @if (signatory is OfficerSignatory officerSignatory)
                                    {
                                        <small>@officerSignatory.Role.Position</small>
                                    }

                                    @if (signatory.User == Model.User)
                                    {
                                        <div class="field">
                                            @if (signatory.HasSigned)
                                            {
                                                <input type="submit" class="btn1" asp-page-handler="Unsign"
                                                       asp-route-budgetRequestId="@Model.BudgetRequest.Id"
                                                       asp-route-signatoryId="@signatory.Id"
                                                       asp-route-isAdmin="@(signatory is AdminSignatory)"
                                                       value="Unsign" required>
                                            }
                                            else
                                            {
                                                <input type="submit" class="btn1" asp-page-handler="Sign"
                                                       asp-route-budgetRequestId="@Model.BudgetRequest.Id"
                                                       asp-route-signatoryId="@signatory.Id"
                                                       asp-route-isAdmin="@(signatory is AdminSignatory)"
                                                       value="Sign" required>
                                            }
                                        </div>
                                    }
                                </div>
                            }

                        </div>

                    </div>
                </div>

                <div class="edit-request-cardBox">

                    <div class="cardTitle">Requesting Organization</div>
                    <div class="card">
                        <div>
                            <div class="cardBody">@Model.BudgetRequest.Requester.Name</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="field">
            <a class="button btn btn-primary" asp-page="./Edit" asp-route-id="@Model.BudgetRequest.Id">Edit Request</a>
        </div>
    </div>
</div>