@page
@using BudgetRequests.Models
@using Microsoft.IdentityModel.Tokens
@model BudgetRequests.Pages.Requests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="homepage-container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="cash-outline"></ion-icon>
                    </span>
                    <span class="title">Budget Requests</span>
                </a>
            </li>
            <li class="hovered">
                <a asp-page="../Requests/Index">
                    <span class="icon">
                        <ion-icon name="wallet-outline"></ion-icon>
                    </span>
                    <span class="title">My Requests</span>
                </a>
            </li>
            <li>
                <a asp-page="../Users/Index">
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span class="title">Users</span>
                </a>
            </li>
            <li>
                <a asp-page="../Organizations/Index">
                    <span class="icon">
                        <ion-icon name="briefcase-outline"></ion-icon>
                    </span>
                    <span class="title">Organizations</span>
                </a>
            </li>
            <li>
                <a asp-page="../Profile/Index">
                    <span class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <span class="title">@Model.User.FullName</span>
                </a>
            </li>
            <li>
                <a asp-page="../Login/Index">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title">Logout</span>
                </a>
            </li>
        </ul>
    </div>


    <!--menu-->
    <div class="main">

        <div class="cardBox" style="padding-bottom: 0">
            <div class="search" style="margin-bottom: 20px">
                <label>
                    <input type="text" placeholder="Search here">
                </label>
            </div>

            @if (Model.CanCreateRequests)
            {
                if (Model.AreCollegeAdminsSet)
                {
                    <a asp-page="Create" asp-route-creationId="@(new Random().Next())" type="button" class="unstyled-a create-btn">
                        Create Request
                    </a>
                }
                else
                {
                    <a type="button" class="unstyled-a create-btn" onclick="$('#myModal').modal('show');">
                        Create Request
                    </a>
                }
            }

        </div>

        <!--data-->
        <div class="cardBox">
            @for (var index = 0; index < Model.BudgetRequests.Count; index++)
            {
                var budgetRequest = Model.BudgetRequests[index];
                var isApproved = Model.IsApproved[index];
                <a asp-page="Details" asp-route-id="@budgetRequest.Id">
                    <div class="card">
                        <div class="col">
                            @*<div class="cardTitle">@budgetRequest.Title</div>
                            <div class="cardBody">
                                @budgetRequest.Body
                            </div>
                            $1$ <div class="profile-icon" style="margin-right: 10px; margin-left: 10px"> #1#
                            $1$     <span>@budgetRequest.Requester.Name.First()</span> #1#
                            $1$ </div> #1#
                            $1$ TODO: figure this out #1#
                            <div style="align-content: center">
                                <span>@budgetRequest.Requester.Name</span>
                                <span>@(isApproved ? "Approved" : "Pending")</span>
                                <button class="card-btn">@Model.GetFormattedTotalExpenses(budgetRequest)</button>
                            </div>*@
                            
                            <div class="row-md-auto cardTitle">@budgetRequest.Title</div>
                            <div class="row-md-auto cardBody">@budgetRequest.Body</div>
                            <div class="row-md-auto cardBody">@budgetRequest.Requester.Name</div>
                            <div class="row-md-auto">
                                <div class="col-md-auto card-btn" style="float: left">@Model.GetFormattedTotalExpenses(budgetRequest)</div>
                                <div class="col-md-auto card-btn">@(isApproved ? "Approved" : "Pending")</div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">College Admins Unset</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Your college admins are not yet set. Ask your administrators to set these before you can make budget requests.
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

@* <script> *@
@*       // toggle *@
@*       let toggle = document.querySelector('.toggle'); *@
@*       let navigation = document.querySelector('.navigation'); *@
@*       let main = document.querySelector('.main'); *@
@* *@
@*       toggle.onclick = function() { *@
@*         navigation.classList.toggle('active'); *@
@*         main.classList.toggle('active'); *@
@*       } *@
@* *@
@*       // hover *@
@*       let list = document.querySelectorAll('.navigation li'); *@
@*       function activeLink(){ *@
@*         list.forEach((item) => item.classList.remove('hovered')); *@
@*         this.classList.add('hovered'); *@
@*       } *@
@*       list.forEach((item) => item.addEventListener('mouseover',activeLink)); *@
@*     </script> *@