@page
@model CreateSuperAdminModel

@{
    ViewData["Title"] = "Create Super Admin";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>

<div class="create-container">
    <div class="box form-box">
        <header>Create Super Admin</header>
        <form action="" method="post">
            <div class="field input">
                <label class="control-label">First name</label>
                <input asp-for="FirstName" class="form-control mt-2"/>
                <span class="error-text">@Model.FirstNameError</span>
            </div>
            <div class="field input">
                <label class="control-label">Middle name</label>
                <input asp-for="MiddleName" class="form-control mt-2"/>
                <span class="error-text">@Model.MiddleNameError</span>
            </div>
            <div class="field input">
                <label class="control-label">Last name</label>
                <input asp-for="LastName" class="form-control mt-2"/>
                <span class="error-text">@Model.LastNameError</span>
            </div>
            <div class="field input">
                <label class="control-label">Username</label>
                <input asp-for="Username" class="form-control mt-2"/>
                <span class="error-text">@Model.UsernameError</span>
            </div>
            <div class="field input">
                <label class="control-label">Password</label>
                <input asp-for="Password" class="form-control mt-2" type="password"/>
                <span class="error-text">@Model.PasswordError</span>
            </div>
            <div class="field input">
                <label class="control-label">Repeat Password</label>
                <input asp-for="RepeatPassword" class="form-control mt-2" type="password"/>
                <span class="error-text">@Model.RepeatPasswordError</span>
            </div>
            <div class="field">
                <input type="submit" class="btn btn-primary" name="submit" asp-page-handler="Add" value="Add" required>
            </div>
        </form>
    </div>
</div>