@page
@model BudgetRequests.Pages.Profile.ChangeSignatureModel

@{
    ViewData["Title"] = "Change Signature";
}

@*<h1>Edit</h1>

<h4>User</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id"/>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepeatPassword" class="control-label"></label>
                <input asp-for="RepeatPassword" class="form-control"/>
                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
            </div>
            <div style="text-align:center">
                @Html.Label("Image")
                @if (Model.SignaturePath != null)
                {
                    <img src="@Model.SignaturePath" alt="Signature" />
                }
                @Html.TextBoxFor(Model => Model.Signature, new { @class = "form-control", type = "file", style = "margin:auto;", required = "required", accept = ".png,.jpg" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>*@

<div class="create-container">
    <div class="box form-box">
        <header>Change Your Signature</header>
        <form action="" method="post" enctype="multipart/form-data">
            <div>
                <label class="control-label mb-2">Signature</label>
                @if (Model.SignaturePath != null)
                {
                    <img src="@Model.SignaturePath" alt="Signature" style="width: 100%"/>
                }
                @Html.TextBoxFor(Model => Model.Signature, new { @class = "form-control", type = "file", style = "margin:auto;", accept = ".png,.jpg" })
                <span class="error-text">@Model.SignatureError</span>
            </div>
            <div class="field mt-1">
                <input type="submit" class="btn btn-primary" name="submit" asp-page-handler="Save" value="Save" required>
            </div>
            <div class="field">
                <input style="margin-top: 0" type="submit" class="btn btn-secondary" name="submit" asp-page-handler="Cancel" value="Cancel" required>
            </div>
        </form>
    </div>
</div>