@page
@model BudgetRequests.Pages.Organizations.CreateModel

@{
    ViewData["Title"] = "Create";
}

@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Organization.Name" class="control-label"></label>
                <input asp-for="Organization.Name" class="form-control"/>
                <span asp-validation-for="Organization.Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label class="control-label">Adviser</label>
                <select asp-for="AdviserId" asp-items="Model.Admins" class="form-control mt-1"></select>
                <span asp-validation-for="AdviserId" class="text-danger mt-1"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Organization.IsStudentCouncil"/>
                    @Html.DisplayNameFor(model => model.Organization.IsStudentCouncil)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Organization.GrossBudget" class="control-label"></label>
                <input asp-for="Organization.GrossBudget" class="form-control"/>
                <span asp-validation-for="Organization.GrossBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>*@

<div class="create-container">
    <div class="box form-box">
        <header>Add Organization</header>
        <form action="" method="post">
            <div class="field input">
                <label asp-for="Organization.Name" class="control-label"></label>
                <input asp-for="Organization.Name" class="form-control"/>
                <span class="error-text">@Model.NameError</span>
            </div>
            
            <div class="field input mt-2">
                <label class="control-label">Adviser</label>
                <select asp-for="AdviserId" asp-items="Model.Admins" class="form-control mt-1"></select>
                <span class="error-text">@Model.AdviserError</span>
            </div>
            
            <div class="field input mt-2">
                <label class="control-label">President</label>
                <select asp-for="PresidentId" asp-items="Model.Officers" class="form-control mt-1"></select>
                <span class="error-text">@Model.PresidentError</span>
            </div>
            
            <div class="field input mt-2">
                <label class="control-label">Vice President</label>
                <select asp-for="VicePresidentId" asp-items="Model.Officers" class="form-control mt-1"></select>
                <span class="error-text">@Model.VicePresidentError</span>
            </div>
            
            <div class="field input mt-2">
                <label class="control-label">Secretary</label>
                <select asp-for="SecretaryId" asp-items="Model.Officers" class="form-control mt-1"></select>
                <span class="error-text">@Model.SecretaryError</span>
            </div>
            
            <div class="field input mt-2">
                <label class="control-label">Treasurer</label>
                <select asp-for="TreasurerId" asp-items="Model.Officers" class="form-control mt-1"></select>
                <span class="error-text">@Model.TreasurerError</span>
            </div>
            
            <div class="field input mt-2">
                <label class="control-label">Auditor</label>
                <select asp-for="AuditorId" asp-items="Model.Officers" class="form-control mt-1"></select>
                <span asp-validation-for="AuditorId" class="text-danger mt-1"></span>
                <span class="error-text">@Model.AuditorError</span>
            </div>
            
            <div class="field input mt-2">
                <label class="control-label">P.R.O.</label>
                <select asp-for="PublicRelationsOfficerId" asp-items="Model.Officers" class="form-control mt-1"></select>
                <span class="error-text">@Model.PublicRelationsOfficerError</span>
            </div>

            <div class="field">
                <input type="submit" class="btn btn-primary" name="submit" asp-page-handler="Add" value="Submit" required>
            </div>
            <div class="field">
                <input style="margin-top: 0" type="submit" class="btn btn-secondary" name="submit" asp-page-handler="Cancel" value="Cancel" required>
            </div>
        </form>
    </div>
</div>